@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'SFT-Schrifted-Sans';
  src: url('/fonts/SFT-Schrifted-Sans.ttf') format('truetype');
}

* {
  font-family: 'SFT-Schrifted-Sans', sans-serif;
}

.flexbox{
  display: flexbox;
  
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px; 
  background-color: rgb(0, 18, 9);
}


::-webkit-scrollbar-thumb {
  background-color: rgb(76, 255, 165); 
  border-radius: 400px; 
  transition: all 500ms;
}


::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(5, 150, 105) ; 
}


@keyframes enterAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes exitAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}


.backToTopButton-enter {
  animation-name: enterAnimation;
}

.backToTopButton-exit {
  animation-name: exitAnimation;
}

/* Define animation duration and timing */
.backToTopButton-enter-active,
.backToTopButton-exit-active {
  animation-duration: 500ms; 
  animation-timing-function: ease-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #001B0E;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #001B0E inset;
  box-shadow: 0 0 0px 1000px #001B0E inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotator {
  0% {
    /* transform: rotate(0deg); */
    transform: translateX(30px);
  }
  50%{
    /* transform: rotate(360deg); */
    transform: translateX(0px);
  }
  100% {
    /* transform: rotate(360deg);  */
    transform: translateX(30px);
  }
}

.dance {
  animation: rotator 2s infinite linear;
}

.bounce {
  animation: grow-shrink 1s infinite ease-in-out;
}




  .container {
    --uib-size: 90px;
    --uib-color: #059669;
    --uib-speed: 2s;
    position: relative;
    height: var(--uib-size);
    width: var(--uib-size);
  }

  .container::before,
  .container::after,
  .dot::before,
  .dot::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: pulse var(--uib-speed) linear infinite;
    transform: scale(0);
    opacity: 0;
    transition: background-color 0.3s ease;
  }

  .container::after {
    animation-delay: calc(var(--uib-speed) / -4);
  }

  .dot::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }

  .dot::after {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }

  @keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }








